<tr id="<%= dom_id(unit) %>">
  <td class="text-center">
    <div class="action-buttons">

      <%= link_to master_data_unit_path(unit),
            class: "action-btn info",
            title: "View Details",
            data: { turbo_frame: "modal" } do %>
        <i class="bi bi-info-circle-fill"></i>
      <% end %>

      <%= link_to edit_master_data_unit_path(unit), class: "action-btn warning", title: "Edit", data: { turbo_frame: 'modal' } do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>

      <%= link_to confirm_delete_master_data_unit_path(unit),
                  class: "action-btn danger",
                  title: "Delete",
                  data: { turbo_frame: "modal" } do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
    </div>
  </td>
  <td class="text-center"><%= unit.id %></td>
  <td><%= unit.name %></td>
  <td><%= unit.unit_type %></td>
<td class="text-center"><%= unit.created_at.strftime("%b %d, %Y %H:%M") if unit.created_at %></td>
<td class="text-center"><%= unit.updated_at.strftime("%b %d, %Y %H:%M") if unit.updated_at %></td>
</tr>
