<div class="modal-content">
  <%= form_with(model: inventory, class: "needs-validation", novalidate: true, data: { action: "turbo:submit-end->modal#formSubmitted" }) do |form| %>
    <div class="modal-header">
      <h5 class="modal-title"><strong><%= inventory.persisted? ? 'Edit Inventory' : 'Add New Inventory' %></strong></h5>
      <button type="button" class="btn-close custom-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <% if inventory.errors.any? %>
        <div class="alert alert-danger">
          <h5><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h5>
          <ul>
            <% inventory.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row g-3">
        <div class="col-md-6">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter item name", required: true %>
        </div>
        <div class="col-md-6">
          <%= form.label :category_id, class: "form-label" %>
          <%= form.collection_select :category_id, Category.order(:name), :id, :name,
                { include_blank: "Select category" }, class: "form-select" %>
        </div>
        <div class="col-md-6">
          <%= form.label :stock_quantity, class: "form-label" %>
          <%= form.number_field :stock_quantity, class: "form-control", min: 0 %>
        </div>
        <div class="col-md-6">
          <%= form.label :unit_id, class: "form-label" %>
          <%= form.collection_select :unit_id, Unit.order(:name), :id, :name,
                { include_blank: "Select unit" }, class: "form-select" %>
        </div>
        <div class="col-md-6">
          <%= form.label :price, class: "form-label" %>
          <%= form.number_field :price, class: "form-control", placeholder: "0.00", step: 0.01, min: 0 %>
        </div>
        <div class="col-md-6">
          <%= form.label :supplier, class: "form-label" %>
          <%= form.text_field :supplier, class: "form-control" %>
        </div>
        <div class="col-md-6">
          <%= form.label :input_date, class: "form-label" %>
          <%= form.date_field :input_date, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        <i class="bi bi-save-fill text-white me-1"></i> Save
      <% end %>
    </div>
  <% end %>
</div>
