<%= turbo_frame_tag "modal" do %>
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-between align-items-center" style="padding: 20px;">
      <h5 class="mb-0"><strong>Inventory Details</strong></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9"><%= @inventory.name %></dd>
        <dt class="col-sm-3">Category:</dt>
        <dd class="col-sm-9"><%= @inventory.category&.name %></dd>
        <dt class="col-sm-3">Stock Quantity:</dt>
        <dd class="col-sm-9"><%= @inventory.stock_quantity %></dd>
        <dt class="col-sm-3">Unit:</dt>
        <dd class="col-sm-9"><%= @inventory.unit&.name %></dd>
        <dt class="col-sm-3">Price:</dt>
        <dd class="col-sm-9">RM <%= number_with_precision(@inventory.price, precision: 2, delimiter: ',') %></dd>
        <dt class="col-sm-3">Supplier:</dt>
        <dd class="col-sm-9"><%= @inventory.supplier %></dd>
        <dt class="col-sm-3">Input Date:</dt>
        <dd class="col-sm-9"><%= @inventory.input_date.strftime("%d-%m-%Y") if @inventory.input_date %></dd>
      </dl>
    </div>
  </div>
<% end %>
