<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="<%= asset_path 'intent-harvest-logo.webp' %>">
    <title><%= content_for?(:title) ? yield(:title) : "ST Intent Harvest" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%= render "layouts/dashboard/navbar" %>
    <div class="d-flex flex-grow-1">
      <%= render "layouts/dashboard/sidebar" %>
      <main class="flex-grow-1 p-4 bg-light">
        <%= render "layouts/flash" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
