<tr>
  <td class="text-center">
    <div class="d-inline-flex gap-1 justify-content-center" style="min-width: 90px;">
      <%= link_to work_orders_approval_path(work_order),
          class: "action-btn info",
          title: "View Details" do %>
        <i class="bi bi-info-circle-fill"></i>
      <% end %>
    </div>
  </td>
  <td class="text-center"><%= work_order.id %></td>
  <td><%= work_order.work_order_rate_name %></td>
  <td><%= work_order.block_number.presence || 'N/A' %></td>
  <td class="text-center"><%= work_order.start_date&.strftime('%d-%m-%Y') || '-' %></td>
  <td class="text-center"><%= work_order.completion_date&.strftime('%d-%m-%Y') || '-' %></td>
  <td class="text-center">
    <span class="badge <%= work_order_status_badge_class(work_order.work_order_status) %>">
      <%= work_order_status_text(work_order.work_order_status) %>
    </span>
  </td>
</tr>
