<%= form_with(model: [:work_orders, work_order], url: work_order.new_record? ? work_orders_details_path : work_orders_detail_path(work_order), local: true, data: {
  controller: "work-order-form",
  work_order_form_inventories_value: Inventory.includes(:category, :unit).all.to_json(include: [:category, :unit]),
  work_order_form_workers_value: @workers.to_json,
  work_order_form_resource_index_start_value: work_order.work_order_items.size,
  work_order_form_worker_index_start_value: work_order.work_order_workers.size,
  work_order_form_current_rate_type_value: work_order.work_order_rate&.work_order_rate_type || 'normal',
  turbo_submits_with: "Submitting..."
}) do |form| %>
  <% if work_order.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(work_order.errors.count, "error") %> prohibited this work order from being saved:</h4>
      <ul>
        <% work_order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'work_orders/details/form_sections/work_order_details_section', form: form, work_order: work_order %>
  <%= render 'work_orders/details/form_sections/resources_section', form: form, work_order: work_order %>
  <%= render 'work_orders/details/form_sections/workers_section', form: form, work_order: work_order %>
  <%= render 'work_orders/details/form_sections/form_actions', form: form, work_order: work_order %>
<% end %>
