<div id="work_orders_details_show" class="container-fluid px-4 py-4">
  <%= render 'work_orders/details/show_sections/header_section', work_order: @work_order, amendment_history: @amendment_history %>
  <%= render 'work_orders/details/show_sections/action_buttons', work_order: @work_order %>
  <%= render 'work_orders/details/show_sections/work_order_details_section', work_order: @work_order %>
  <%= render 'work_orders/details/show_sections/resources_section', work_order: @work_order %>
  <%= render 'work_orders/details/show_sections/workers_section', work_order: @work_order %>
</div>
<%= render "modal" %>
