<tr>
  <td class="text-center">
    <div class="d-inline-flex gap-1 justify-content-center" style="min-width: 90px;">
      <%= link_to work_orders_pay_calculation_path(pay_calculation),
          class: "action-btn info",
          title: "View Details" do %>
        <i class="bi bi-info-circle-fill"></i>
      <% end %>
    </div>
  </td>
  <td class="text-center"><%= pay_calculation.id %></td>
  <td class="text-center"><%= (Date.strptime(pay_calculation.month_year, '%Y-%m').strftime('%B %Y')) %></td>
  <td class="text-center"><%= number_to_currency(pay_calculation.total_net_salary || 0, unit: 'RM ', separator: '.', delimiter: ',', precision: 2) %></td>
  <td class="text-center"><%= pay_calculation.updated_at&.strftime('%d-%m-%Y') || '-' %></td>
</tr>
