<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Work Order Rates</h1>
      <div class="mb-3">
        <%= link_to "New Work Order Rate", new_master_data_work_order_rate_path, class: "btn btn-primary" %>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Work Order Name</th>
              <th>Rate</th>
              <th>Unit</th>
              <th>Currency</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @work_order_rates.each do |work_order_rate| %>
              <tr>
                <td><%= work_order_rate.work_order_name %></td>
                <td><%= work_order_rate.rate %></td>
                <td><%= work_order_rate.unit&.name %></td>
                <td><%= work_order_rate.currency %></td>
                <td>
                  <%= link_to "Show", master_data_work_order_rate_path(work_order_rate), class: "btn btn-sm btn-info" %>
                  <%= link_to "Edit", edit_master_data_work_order_rate_path(work_order_rate), class: "btn btn-sm btn-warning" %>
                  <%= link_to "Delete", master_data_work_order_rate_path(work_order_rate), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
