<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Work Order Rate Details</h1>
      <div class="card">
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Work Order Name:</dt>
            <dd class="col-sm-9"><%= @work_order_rate.work_order_name %></dd>
            <dt class="col-sm-3">Rate:</dt>
            <dd class="col-sm-9"><%= @work_order_rate.rate %></dd>
            <dt class="col-sm-3">Unit:</dt>
            <dd class="col-sm-9"><%= @work_order_rate.unit&.name %></dd>
            <dt class="col-sm-3">Currency:</dt>
            <dd class="col-sm-9"><%= @work_order_rate.currency %></dd>
          </dl>
          <div class="mt-3">
            <%= link_to "Edit", edit_master_data_work_order_rate_path(@work_order_rate), class: "btn btn-warning" %>
            <%= link_to "Back", master_data_work_order_rates_path, class: "btn btn-secondary" %>
            <%= link_to "Delete", master_data_work_order_rate_path(@work_order_rate), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
