<div class="modal-content">
  <%= form_with(model: [:master_data, category], class: "needs-validation", novalidate: true, data: { action: "turbo:submit-end->modal#formSubmitted" }) do |form| %>
    <div class="modal-header">
      <h5 class="modal-title"><strong><%= category.persisted? ? 'Edit Category' : 'Add New Category' %></strong></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <% if category.errors.any? %>
        <div class="alert alert-danger">
          <h5><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h5>
          <ul>
            <% category.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.label :name, "Category Name", class: "form-label" %>
        <%= form.text_field :name, placeholder: "Enter Category Name", class: "form-control", required: true %>
      </div>
      <div class="mb-3">
        <%= form.label :parent_id, "Parent Category", class: "form-label" %>
        <%= form.collection_select :parent_id, Category.all, :id, :name, { include_blank: "None (Top Level)" }, class: "form-select" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        <i class="bi bi-save-fill text-white me-1"></i>Save
      <% end %>
    </div>
  <% end %>
</div>
