<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Categories</h1>
      <div class="mb-3">
        <%= link_to "New Category", new_master_data_category_path, class: "btn btn-primary" %>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category Type</th>
              <th>Parent Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.category_type %></td>
                <td><%= category.parent&.name %></td>
                <td>
                  <%= link_to "Show", master_data_category_path(category), class: "btn btn-sm btn-info" %>
                  <%= link_to "Edit", edit_master_data_category_path(category), class: "btn btn-sm btn-warning" %>
                  <%= link_to "Delete", master_data_category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
