<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Work Order Details</h1>
      <div class="card">
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Block:</dt>
            <dd class="col-sm-9"><%= @work_order.block.block_number %></dd>
            <dt class="col-sm-3">Work Order Rate:</dt>
            <dd class="col-sm-9"><%= @work_order.work_order_rate.work_order_name %></dd>
            <dt class="col-sm-3">Start Date:</dt>
            <dd class="col-sm-9"><%= @work_order.start_date %></dd>
            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9"><span class="badge bg-<%= @work_order.work_order_status %>"><%= @work_order.work_order_status %></span></dd>
            <dt class="col-sm-3">Field Conductor:</dt>
            <dd class="col-sm-9"><%= @work_order.field_conductor_name %></dd>
          </dl>
          <div class="mt-3">
            <%= link_to "Edit", edit_work_order_detail_path(@work_order), class: "btn btn-warning" %>
            <%= link_to "Back", work_order_details_path, class: "btn btn-secondary" %>
            <%= link_to "Delete", work_order_detail_path(@work_order), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
