<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Pay Calculations</h1>
      <div class="mb-3">
        <%= link_to "New Pay Calculation", new_work_order_pay_calculation_path, class: "btn btn-primary" %>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Month/Year</th>
              <th>Overall Total</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @pay_calculations.each do |pay_calculation| %>
              <tr>
                <td><%= pay_calculation.month_year %></td>
                <td><%= pay_calculation.overall_total %></td>
                <td>
                  <%= link_to "Show", work_order_pay_calculation_path(pay_calculation), class: "btn btn-sm btn-info" %>
                  <%= link_to "Edit", edit_work_order_pay_calculation_path(pay_calculation), class: "btn btn-sm btn-warning" %>
                  <%= link_to "Delete", work_order_pay_calculation_path(pay_calculation), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
