<tr id="<%= dom_id(worker) %>">
  <td class="text-center">
    <div class="action-buttons">
      <%= link_to worker_path(worker), class: "action-btn info", title: "View Details" do %>
        <i class="bi bi-info-circle-fill"></i>
      <% end %>
      <%= link_to edit_worker_path(worker), class: "action-btn warning", title: "Edit", data: { turbo_frame: 'modal', modal_size: "modal-lg" } do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>

      <%= link_to confirm_delete_worker_path(worker),
                      class: "action-btn danger",
                      title: "Delete",
                      data: { turbo_frame: "modal", modal_size: "modal-sm" } do %>
            <i class="bi bi-trash-fill"></i>
      <% end %>
    </div>
  </td>
  <td class="text-center"><%= worker.id %></td>
  <td><%= worker.name %></td>
  <td><%= worker.worker_type %></td>
  <td class="text-center">
    <% if worker.is_active %>
      <span class="text-success fw-bold">Active</span>
    <% else %>
      <span class="text-danger fw-bold">Inactive</span>
    <% end %>
  </td>
  <td class="text-center"><%= worker.hired_date&.strftime('%d-%m-%Y') || '-' %></td>
</tr>
