<div class="container-fluid px-4 py-4" data-controller="multi-sort">
  <%= render 'shared/breadcrumb', breadcrumbs: [
    ['Workers Profile', '#'],
    [@worker.name, nil]
  ] %>
  <!-- Back Button -->
  <div class="mb-3">
    <%= link_to workers_path, class: "text-decoration-none text-dark d-inline-flex align-items-center fs-5 fw-bold" do %>
      <i class="bi bi-arrow-left me-2"></i> Back to Workers Profile
    <% end %>
  </div>
  <hr>
  <%= render 'workers/worker_detail/worker_info',
             worker: @worker,
             total_working_days: @total_working_days,
             total_completed_work_orders: @total_completed_work_orders %>
  <%= render 'workers/worker_detail/work_order_history',
             worker: @worker,
             work_order_workers: @work_order_workers,
             q: @q,
             pagy: @pagy %>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <div class="d-flex align-items-center">
        <strong class="me-5">No. of Completed Work Orders</strong>
        <span><%= @total_completed_work_orders || 0 %></span>
      </div>
    </div>
  </div>
</div>
