<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Worker Details</h1>
      <div class="card">
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9"><%= @worker.name %></dd>
            <dt class="col-sm-3">Worker Type:</dt>
            <dd class="col-sm-9"><%= @worker.worker_type %></dd>
            <dt class="col-sm-3">Gender:</dt>
            <dd class="col-sm-9"><%= @worker.gender %></dd>
            <dt class="col-sm-3">Identity Number:</dt>
            <dd class="col-sm-9"><%= @worker.identity_number %></dd>
            <dt class="col-sm-3">Nationality:</dt>
            <dd class="col-sm-9"><%= @worker.nationality %></dd>
            <dt class="col-sm-3">Hired Date:</dt>
            <dd class="col-sm-9"><%= @worker.hired_date %></dd>
            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9"><%= @worker.is_active ? "Active" : "Inactive" %></dd>
          </dl>
          <div class="mt-3">
            <%= link_to "Edit", edit_worker_path(@worker), class: "btn btn-warning" %>
            <%= link_to "Back", workers_path, class: "btn btn-secondary" %>
            <%= link_to "Delete", worker_path(@worker), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
