<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Blocks</h1>
      <div class="mb-3">
        <%= link_to "New Block", new_master_data_block_path, class: "btn btn-primary" %>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Block Number</th>
              <th>Hectarage</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @blocks.each do |block| %>
              <tr>
                <td><%= block.block_number %></td>
                <td><%= block.hectarage %></td>
                <td>
                  <%= link_to "Show", master_data_block_path(block), class: "btn btn-sm btn-info" %>
                  <%= link_to "Edit", edit_master_data_block_path(block), class: "btn btn-sm btn-warning" %>
                  <%= link_to "Delete", master_data_block_path(block), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
