<!DOCTYPE html>
<html>
  <head>
    <title>ST Intent Harvest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>

  <body class="d-flex flex-column min-vh-100" data-controller="toast">
    <main class="flex-grow-1">
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>
    <!-- Toast Container -->
    <div class="toast-container position-fixed top-0 end-0 p-3" data-toast-target="container" style="z-index: 9999;">
    </div>
  </body>
</html>
